body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h1, h2, h3, h4 {
    margin: 3px;
}

button, input {
    border: 1px solid rgb(221, 221, 221);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.5s;
}

button {
    font-size: larger;
    background-color: #d3d3d3;
    -webkit-box-shadow: 0px 2px 0px 0px rgb(121, 121, 121);
    -moz-box-shadow: 0px 2px 0px 0px rgb(121, 121, 121);
    box-shadow: 0px 2px 0px 0px rgb(121, 121, 121);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(205, 223, 241);
    border-color: rgb(218, 236, 255);
    -webkit-box-shadow: 0px 2px 0px 0px rgb(140, 155, 170);
    -moz-box-shadow: 0px 2px 0px 0px rgb(140, 155, 170);
    box-shadow: 0px 2px 0px 0px rgb(140, 155, 170);
}

button:active {
    background-color: rgb(150, 150, 150);
    border: 1px solid rgb(121, 121, 121);
    transform: translateY(3px);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button:disabled {
    background-color: rgb(150, 150, 150);
    border: 1px solid rgb(121, 121, 121);
    transform: translateY(3px);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
}

button:hover:disabled {
    background-color: rgb(150, 150, 150);
    border: 1px solid rgb(121, 121, 121);
}

.name_input{
    margin: 2px;
    padding: 5px;
    font-size: xx-large;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;
}

/* SCOREBOARD */
.scoreboard {
    position: relative;
    border-collapse: collapse;
    border: 2px solid #5f5f5f;
    margin-top: 7px;
    margin-bottom: 7px;
    min-width: 100%;
}

.scoreboard tr {
    border-bottom: 1px solid rgb(221, 221, 221);
    border-top: 1px solid rgb(221, 221, 221);
}

.nametag {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    max-width: 500px;
    margin: 2px;
    padding: 5px;
    padding-right: 25px;
    font-size: x-large;
}

.points_bar {
    font-size: larger;
    border: 1px solid black;
    border-left: none;
    animation: points-fill 1s reverse both;
}

@keyframes points-fill{
    100%{
        width: 0px;
    }
}

.threshold {
    position: absolute;
    z-index: -20;
    width: 50px;
    line-height: 50px;
    font-size: xx-large;
    top: 2px;
    bottom: 2px;
    background-color: dodgerblue;
    background-image: -moz-linear-gradient(left, dodgerblue, white);
    background-image: -o-linear-gradient(left, dodgerblue, white);
    background-image: -webkit-gradient(linear, left right, from(dodgerblue), to(white));
    background-image: linear-gradient(to right, dodgerblue, white);
    writing-mode: vertical-lr;
}

/* TALLY-UP */
.modal_container {
    position: fixed;
    left: 0px; right: 0px; top: 0px; bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tally_panel {
    position: fixed;
    max-height: 90%;
    top: 50%;
    left: 50%;
    width: 70%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
    overflow-y: auto;
}

.tally_button {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 5px;
    width: 32%;
    margin: 2px;
    background-color: transparent;
    font-size: x-large;
    cursor: pointer;
    overflow-x: hidden;
    -webkit-box-shadow: 0px 2px 0px 0px rgb(121, 121, 121);
    -moz-box-shadow: 0px 2px 0px 0px rgb(121, 121, 121);
    box-shadow: 0px 2px 0px 0px rgb(121, 121, 121);
}
.tally_button:active {
    border: 1px solid rgb(121, 121, 121);
    transform: translateY(3px);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.tally_button:hover {
    background-color: initial;
    font-size: xx-large;
}

.tally_button:hover:disabled {
    font-size: x-large;
    width: 32%;
}

.tally_button span {
    text-shadow: none;
    margin: 0px;
    font-size: medium;
}

/* ENDCARD */
.end_card {
    position: fixed;
    max-height: 90%;
    top: 50%;
    left: 50%;
    width: 70%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
    overflow-y: auto;
}

.toggle_endcard {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 100;
}